body{
    padding: 0;
    margin: 0;
}
h1{
    color: grey;
}
.lll{
    text-align: center;
    
}
.lll nav menu{
    display: flex;
    justify-content: center;
}
.lll nav menu li{
    list-style-type: none;
    display: flex;
    border: 1.5px black solid;
    padding: 5px;
    margin: 10px;
    transition: all 1s ease-out;
}
.lll nav menu li a{
    text-decoration: none;
    color:  black;
    transition: all 1s ease-out;
}
.lll nav menu li a:hover{
    color: white;
}
.lll nav menu li:hover{
    transform: scale(1.2);
    background-color: gray;
}
header h1{
    font-size: 250%;
}

.tucnak1{
    position: absolute;
    float: right;
    right: 100px;
    text-align: right;
}
.tucnak2{
    position: absolute;
    float: left;
    left: 100px;
}
footer{
    position: absolute;
    bottom: 0;
}