#pozadi{
    z-index: -1000;
    width: 500px;
}
header{
    color: red;
}
header h1{
    font-size: 70px;

}

header nav menu li{
    font-size: 40px;
}

header p{
    font-size: 50px;
}

section h2{
    color: blue;
}

.text{
    display: block;
    width: 1000px;
    border: 3px pink solid;
    text-align: center;
}
.art2{
    
    display: flex;
    justify-content: center;
}
body{
    display: flex;
    justify-content: center;
}
.div{
    display: flex;
    justify-content: center;
}